[submodule "ext/st/stm32"]
	path = ext/st/stm32
	url = https://github.com/modm-io/cmsis-header-stm32.git
[submodule "ext/nordic/nrf"]
	path = ext/nordic/nrf
	url = https://github.com/elli89/cmsis-header-nrf.git
[submodule "ext/modm-devices"]
	path = ext/modm-devices
	url = https://github.com/elli89/modm-devices.git
[submodule "ext/dlr/scons-build-tools"]
	path = ext/dlr/scons-build-tools
	url = https://github.com/modm-io/scons-build-tools.git
[submodule "ext/ros/ros-lib"]
	path = ext/ros/ros-lib
	url = https://github.com/modm-io/ros-lib
[submodule "ext/arm/cmsis"]
	path = ext/arm/cmsis
	url = https://github.com/modm-ext/cmsis-5-partial.git
[submodule "ext/gcc/libstdc++"]
	path = ext/gcc/libstdc++
	url = https://github.com/modm-io/avr-libstdcpp.git
[submodule "ext/mpaland/printf"]
	path = ext/mpaland/printf
	url = https://github.com/modm-ext/printf.git
[submodule "ext/aws/freertos"]
	path = ext/aws/freertos
	url = https://github.com/modm-ext/freertos-partial.git
[submodule "ext/adamgreen/crashcatcher"]
	path = ext/adamgreen/crashcatcher
	url = https://github.com/modm-ext/CrashCatcher-partial.git
