[submodule "ext/st/stm32"]
	path = ext/st/stm32
	url = https://github.com/modm-io/cmsis-header-stm32.git
[submodule "ext/modm-devices"]
	path = ext/modm-devices
	url = https://github.com/modm-io/modm-devices.git
[submodule "ext/dlr/scons-build-tools"]
	path = ext/dlr/scons-build-tools
	url = https://github.com/modm-io/scons-build-tools.git
[submodule "ext/ros/ros_lib"]
	path = ext/ros/ros_lib
	url = https://github.com/modm-io/xpcc_ros_lib.git
