Antal Szabó <szabo.antal.92@gmail.com>
Arjun Sarin <arjun.sarin@rwth.aachen.de>
Christian Menard <christian.menard@gmx.de>
Christoph Rüdi <christoph.ruedi@rwth-aachen.de>
Christopher Durand <christopher.durand@rwth-aachen.de>
Daniel Krebs <github@daniel-krebs.net>
Daniel Krebs <github@daniel-krebs.net> <da.krebs@web.de>
David Hebbeker <david.hebbeker@rwth-aachen.de> <david.hebbeker@gmail.com>
Fabian Greif <fabian.greif@rwth-aachen.de> <fabian.greif@dlr.de>
Georgi Grinshpun <georgi.grinshpun@rwth-aachen.de> <georgi-grinshpun@rwth-aachen.de>
Georgi Grinshpun <georgi.grinshpun@rwth-aachen.de> <Georgi@FlipFlip>
Hans Schily <hans.schily@rwth-aachen.de>
Julia Gutheil <julia.gutheil@rwth-aachen.de>
Kevin Läufer <kevin.laeufer@rwth-aachen.de>
Kevin Läufer <kevin.laeufer@rwth-aachen.de> <electron.kiwi@gmail.com>
Martin Esser <martin.esser@rwth-aachen.de>
Martin Rosekeit <martin.rosekeit@rwth-aachen.de> <martin.rosekeit@rwth-aachen.de>
Michael Thies <mail@mhthies.de>
Nick Sarten <gen.battle@gmail.com>
Niclas Rohrer <niclas.rohrer@rwth-aachen.de> <Niclas>
Niklas Hauser <niklas.hauser@rwth-aachen.de> <niklas.hauser@arm.com>
Niklas Hauser <niklas.hauser@rwth-aachen.de> <niklas.hauser@gmail.com>
Raphael Lehmann <raphael@rleh.de>
Sascha Schade <stronglytyp3d@gmail.com>
Sascha Schade <stronglytyp3d@gmail.com> <davedwebb8211@gmail.com>
Sascha Schade <stronglytyp3d@gmail.com> <strongly-typed@nan>
Sascha Schade <stronglytyp3d@gmail.com> <stronly@typed.nan>
Tarik TIRE <kronos@aspbooster.com>
Thorsten Lajewski <thorsten.lajewski@rwth-aachen.de>
Tomasz Chyrowicz <tomasz.chyrowicz@gmail.com>
