Amar <fb39ca4@gmail.com>
Amarok McLion <amarokmclion@gmail.com>
Andre Gilerson <andre.gilerson@gmail.com>
Antal Szabó <szabo.antal.92@gmail.com>
Arjun Sarin <arjun.sarin@rwth.aachen.de>
Benjamin <benjamin.carrick@posteo.de>
Benjamin Carrick <benjamin.carrick@posteo.de>
Benjamin Weps <benjamin.weps@posteo.de>
Carl Treudler <cjt@users.sf.net>
Cerem Cem ASLAN <ceremcem@ceremcem.net>
Christian Menard <christian.menard@gmx.de>
Christoph Rüdi <christoph.ruedi@rwth-aachen.de>
Christopher Durand <christopher.durand@robotise.eu>
Christopher Durand <christopher.durand@rwth-aachen.de>
Daniel Krebs <github@daniel-krebs.net>
Daniel Krebs <github@daniel-krebs.net> <da.krebs@web.de>
David Hebbeker <david.hebbeker@rwth-aachen.de>
David Hebbeker <david.hebbeker@rwth-aachen.de> <david.hebbeker@gmail.com>
David Hebbeker <david.hebbeker@rwth-aachen.de> <dhebbeker@users.noreply.github.com>
David Hebbeker <david.hebbeker@rwth-aachen.de> <hebbeker@stoerk-tronic.com>
Erik Henriksson <erikhenrikssn@gmail.com>
Erik Henriksson <erikhenrikssn@gmail.com> <henriksson@google.com>
Fabian Greif <fabian.greif@rwth-aachen.de>
Fabian Greif <fabian.greif@rwth-aachen.de> <fabian.greif@dlr.de>
Felix Petriconi <felix@petriconi.net>
Georgi Grinshpun <georgi.grinshpun@rwth-aachen.de>
Georgi Grinshpun <georgi.grinshpun@rwth-aachen.de> <georgi-grinshpun@rwth-aachen.de>
Georgi Grinshpun <georgi.grinshpun@rwth-aachen.de> <Georgi@FlipFlip>
Hans Schily <hans.schily@rwth-aachen.de>
Jacob Schultz Andersen <schultz.jacob@gmail.com>
Jeff McBride <mcbridejc@gmail.com>
Julia Gutheil <julia.gutheil@rwth-aachen.de>
Jörg Hoffmann <joerg.hoffmann@bruker.com>
Kaelin Laundry <wasabifan@outlook.com>
Kevin Läufer <kevin.laeufer@rwth-aachen.de>
Kevin Läufer <kevin.laeufer@rwth-aachen.de> <electron.kiwi@gmail.com>
Linas Nikiperavicius <linas@linasdev.com>
Lucas Mösch <lucas.moesch@rwth-aachen.de>
Lucas Mösch <lucas.moesch@rwth-aachen.de> <moesch@lfb.rwth-aachen.de>
Lukas Güldenstein <github@lukasgueldenstein.de>
Philipp Graf <luxarf@luxarf.de>
Marten Junga <marten.junga@rwth-aachen.de>
Marten Junga <marten.junga@rwth-aachen.de> <mjunga@amt.rwth-aachen.de>
Martin Esser <martin.esser@rwth-aachen.de>
Martin Rosekeit <martin.rosekeit@rwth-aachen.de>
Martin Rosekeit <martin.rosekeit@rwth-aachen.de> <martin.rosekeit@rwth-aachen.de>
Michael Thies <mail@mhthies.de>
Mike Wolfram <mwolfram@me.com>
Mike Wolfram <mwolfram@me.com> <mwolfram@gw-semi.com>
Nick Sarten <gen.battle@gmail.com>
Niclas Rohrer <niclas.rohrer@rwth-aachen.de>
Niclas Rohrer <niclas.rohrer@rwth-aachen.de> <Niclas>
Nicolai Bruhn <nicolaibru@gmail.com>
Niklas Hauser <niklas.hauser@rwth-aachen.de>
Niklas Hauser <niklas.hauser@rwth-aachen.de> <niklas.hauser@arm.com>
Niklas Hauser <niklas.hauser@rwth-aachen.de> <niklas.hauser@gmail.com>
Niklas Meyer <niklas.meyer@rwth-aachen.de>
Patrick Servello <patrick.servello@gmail.com>
Pavel Pletenev <cpp.create@gmail.com>
Raphael Lehmann <raphael@rleh.de>
Raphael Lehmann <raphael@rleh.de> <raphael.lehmann@ducktrain.io>
Sascha Schade <stronglytyp3d@gmail.com>
Sascha Schade <stronglytyp3d@gmail.com> <davedwebb8211@gmail.com>
Sascha Schade <stronglytyp3d@gmail.com> <strongly-typed@nan>
Sascha Schade <stronglytyp3d@gmail.com> <stronly@typed.nan>
Sebastian Birke <git@se-bi.de>
Sergiy Yevtushenko <sergiy.yevtushenko@gmail.com>
Tarik TIRE <kronos@aspbooster.com>
Thomas Figueroa <thomas@dwarfcraft.com>
Thomas Sommer <thomas@tomsaw.de>
Thorsten Lajewski <thorsten.lajewski@rwth-aachen.de>
Tomasz Chyrowicz <tomasz.chyrowicz@gmail.com>
Vivien Henry <vivien.henry@inductivebrain.fr>
Zawadniak Pedro <zawadniak.pedro@gmail.com>
Álan Crístoffer <acristoffers@gmail.com>
