version: 2
jobs:
  unittests-linux-generic:
    docker:
      - image: modm/modm-build:latest
    steps:
      - checkout
      - run: (git submodule sync && git submodule update --init --jobs 8) & pip3 install -U lbuild & wait
      - run:
          name: Check environment
          command: |
            env
            locale -a
            python --version  || true
            python2 --version || true
            python3 --version || true
            which scons
            scons --version
            which g++
            g++ --version
            which avr-g++
            avr-g++ --version
            which arm-none-eabi-g++
            arm-none-eabi-g++ --version
            which lbuild
            lbuild --version
      - run:
          name: Hosted Unittests
          command: |
            (cd test && make run-hosted-linux)
      - run:
          name: Compile STM32 Unittests
          command: |
            (cd test && make compile-nucleo-f411)
            (cd test && make compile-nucleo-f103)
      - run:
          name: Compile AVR Unittests
          command: |
            (cd test && make compile-al-avreb-can)
      - run:
          name: Linux Examples
          command: |
            (cd examples && ../tools/scripts/examples_compile.py linux zmq)
      - run:
          name: Generic Examples
          command: |
            (cd examples && ../tools/scripts/examples_compile.py generic)
      - run:
          name: Execute Python Scripts
          command: |
            python2 tools/scripts/authors.py --handles --count --shoutout --since 2017-01-01
            python3 tools/scripts/authors.py --handles --count --shoutout --since 2017-01-01
            python2 tools/xpcc_generator/builder/system_layout.py examples/xpcc/xml/communication.xml -o /tmp
            python3 tools/xpcc_generator/builder/system_layout.py examples/xpcc/xml/communication.xml -o /tmp
      - run:
          name: Check for Trailing Whitespace
          command: |
            python3 tools/scripts/rm_whitespace.py
      - run:
          name: Synchronize Documentation
          command: |
            python3 tools/scripts/synchronize_docs.py -d
      - run:
          name: Check for Unique Build Paths
          command: |
            python3 tools/scripts/examples_check.py examples

  stm32-examples:
    docker:
      - image: modm/modm-build:latest
    steps:
      - checkout
      - run: (git submodule sync && git submodule update --init --jobs 8) & pip3 install -U lbuild & wait
      - run:
          name: Examples STM32F0 Series
          command: |
            (cd examples && ../tools/scripts/examples_compile.py stm32f0_discovery stm32f072_discovery nucleo_f031k6 nucleo_f042k6 stm32f030f4p6_demo_board)
      - run:
          name: Examples STM32F1 Series
          command: |
            (cd examples && ../tools/scripts/examples_compile.py stm32f1_discovery nucleo_f103rb olimexino_stm32 stm32f103c8t6_blue_pill stm32f103c8t6_black_pill)
      - run:
          name: Examples STM32F3 Series
          command: |
            (cd examples && ../tools/scripts/examples_compile.py stm32f3_discovery nucleo_f303k8)
      - run:
          name: Examples STM32F7 Series
          command: |
            (cd examples && ../tools/scripts/examples_compile.py stm32f746g_discovery)
      - run:
          name: Examples STM32G0 Series
          command: |
            (cd examples && ../tools/scripts/examples_compile.py nucleo_g071rb)
      - run:
          name: Examples STM32L4 Series
          command: |
            (cd examples && ../tools/scripts/examples_compile.py stm32l476_discovery nucleo_l476rg nucleo_l432kc)

  stm32f4-examples:
    docker:
      - image: modm/modm-build:latest
    steps:
      - checkout
      - run: (git submodule sync && git submodule update --init --jobs 8) & pip3 install -U lbuild & wait
      - run:
          name: Examples STM32F4 Series
          command: |
            (cd examples && ../tools/scripts/examples_compile.py stm32f4_discovery)
            (cd examples && ../tools/scripts/examples_compile.py stm32f429_discovery stm32f469_discovery nucleo_f401re nucleo_f411re nucleo_f429zi)

  avr-examples:
    docker:
      - image: modm/modm-build:latest
    steps:
      - checkout
      - run: (git submodule sync && git submodule update --init --jobs 8) & pip3 install -U lbuild & wait
      - run:
          name: Examples AVR Series
          command: |
            (cd examples && ../tools/scripts/examples_compile.py avr arduino_uno)

  avr-compile-all:
    docker:
      - image: modm/modm-build:latest
    steps:
      - checkout
      - run: (git submodule sync && git submodule update --init --jobs 8) & pip3 install -U lbuild & wait
      - run:
          name: Compile HAL for all AVRs
          command: |
            (cd test/all && python3 run_all.py at)
      - store_artifacts:
          path: test/all/log
          destination: log

  stm32f0-compile-all:
    docker:
      - image: modm/modm-build:latest
    steps:
      - checkout
      - run: (git submodule sync && git submodule update --init --jobs 8) & pip3 install -U lbuild & wait
      - run:
          name: Compile HAL for all STM32F0
          command: |
            (cd test/all && python3 run_all.py stm32f0)
      - store_artifacts:
          path: test/all/log
          destination: log

  stm32f1-compile-all:
    docker:
      - image: modm/modm-build:latest
    steps:
      - checkout
      - run: (git submodule sync && git submodule update --init --jobs 8) & pip3 install -U lbuild & wait
      - run:
          name: Compile HAL for all STM32F1
          command: |
            (cd test/all && python3 run_all.py stm32f1)
      - store_artifacts:
          path: test/all/log
          destination: log

  stm32f2-compile-all:
    docker:
      - image: modm/modm-build:latest
    steps:
      - checkout
      - run: (git submodule sync && git submodule update --init --jobs 8) & pip3 install -U lbuild & wait
      - run:
          name: Compile HAL for all STM32F2
          command: |
            (cd test/all && python3 run_all.py stm32f2)
      - store_artifacts:
          path: test/all/log
          destination: log

  stm32f3-compile-all:
    docker:
      - image: modm/modm-build:latest
    steps:
      - checkout
      - run: (git submodule sync && git submodule update --init --jobs 8) & pip3 install -U lbuild & wait
      - run:
          name: Compile HAL for all STM32F3
          command: |
            (cd test/all && python3 run_all.py stm32f3)
      - store_artifacts:
          path: test/all/log
          destination: log

  stm32f4-compile-all:
    docker:
      - image: modm/modm-build:latest
    steps:
      - checkout
      - run: (git submodule sync && git submodule update --init --jobs 8) & pip3 install -U lbuild & wait
      - run:
          name: Compile HAL for all STM32F4
          command: |
            (cd test/all && python3 run_all.py stm32f4)
      - store_artifacts:
          path: test/all/log
          destination: log

  stm32f7-compile-all:
    docker:
      - image: modm/modm-build:latest
    steps:
      - checkout
      - run: (git submodule sync && git submodule update --init --jobs 8) & pip3 install -U lbuild & wait
      - run:
          name: Compile HAL for all STM32F7
          command: |
            (cd test/all && python3 run_all.py stm32f7)
      - store_artifacts:
          path: test/all/log
          destination: log

  stm32l4-compile-all:
    docker:
      - image: modm/modm-build:latest
    steps:
      - checkout
      - run: (git submodule sync && git submodule update --init --jobs 8) & pip3 install -U lbuild & wait
      - run:
          name: Compile HAL for all STM32L4
          command: |
            (cd test/all && python3 run_all.py stm32l4)
      - store_artifacts:
          path: test/all/log
          destination: log

  stm32g0-compile-all:
    docker:
      - image: modm/modm-build:latest
    steps:
      - checkout
      - run: (git submodule sync && git submodule update --init --jobs 8) & pip3 install -U lbuild & wait
      - run:
          name: Compile HAL for all STM32G0
          command: |
            (cd test/all && python3 run_all.py stm32g0)
      - store_artifacts:
          path: test/all/log
          destination: log

  build-docs:
    docker:
      - image: modm/modm-build:latest
    steps:
      - checkout
      - run:
          command: |
            (git submodule sync && git submodule update --init --jobs 8) & pip3 install -U lbuild & wait
      - run:
          name: Build Homepage
          command: |
            python3 tools/scripts/synchronize_docs.py
            (cd examples/stm32f469_discovery/blink; lbuild -D ::generate_module_docs=True build -m "modm:**")
            (cd docs/src/reference && ln -s ../../../examples/stm32f469_discovery/blink/modm/docs/module)
            (cd docs && mkdocs build)

  build-docs-upload:
    docker:
      - image: modm/modm-build:latest
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "8c:e7:b6:51:2a:40:66:e6:e9:50:ea:fe:38:49:1d:3f"
      - run:
          command: |
            (git submodule sync && git submodule update --init --jobs 8) &
            pip3 install -U lbuild &
            git clone git@github.com:modm-ext/modm.io.git docs/modm.io &
            wait
      - run:
          name: Build Homepage
          command: |
            python3 tools/scripts/synchronize_docs.py
            (cd examples/stm32f469_discovery/blink; lbuild -D ::generate_module_docs=True build -m "modm:**")
            (cd docs/src/reference && ln -s ../../../examples/stm32f469_discovery/blink/modm/docs/module)
            (cd docs && mkdocs build)
            if [ "$CIRCLE_BRANCH" = "develop" ]; then
              cd docs/modm.io

              git config user.email "rca@circleci.com"
              git config user.name "CircleCI Deployment Bot"
              git add -A
              git diff-index --quiet HEAD || git commit -m "Update"
              git push origin master
            fi

workflows:
  version: 2
  build:
    jobs:
      - stm32f4-examples
      - unittests-linux-generic
      - avr-examples
      - stm32-examples

      - avr-compile-all:
          requires:
            - unittests-linux-generic
            - avr-examples
      - stm32f0-compile-all:
          requires:
            - unittests-linux-generic
            - stm32-examples
      - stm32f1-compile-all:
          requires:
            - unittests-linux-generic
            - stm32-examples
      - stm32f2-compile-all:
          requires:
            - unittests-linux-generic
      - stm32f3-compile-all:
          requires:
            - unittests-linux-generic
            - stm32-examples
      - stm32f4-compile-all:
          requires:
            - unittests-linux-generic
            - stm32f4-examples
      - stm32f7-compile-all:
          requires:
            - unittests-linux-generic
            - stm32-examples
      - stm32g0-compile-all:
          requires:
            - unittests-linux-generic
            - stm32-examples
      - stm32l4-compile-all:
          requires:
            - unittests-linux-generic
            - stm32-examples
      - build-docs-upload:
          filters:
            branches:
              only: develop
          requires:
            - avr-compile-all
            - stm32f0-compile-all
            - stm32f1-compile-all
            - stm32f2-compile-all
            - stm32f3-compile-all
            - stm32f4-compile-all
            - stm32f7-compile-all
            - stm32g0-compile-all
            - stm32l4-compile-all
      - build-docs:
          filters:
            branches:
              only: /^pull\/.*$/
          requires:
            - avr-compile-all
            - stm32f0-compile-all
            - stm32f1-compile-all
            - stm32f2-compile-all
            - stm32f3-compile-all
            - stm32g0-compile-all
