
@import "default.css";

body {
	margin: 0;
	padding: 0;
	background: #ffffff url(images/background.png) repeat-x left top;
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 16px;
	color: #000000;
}
