
[build]
target = stm32f3

[defines]
CORTEX_VECTORS_RAM = 0

# Default values for the internal bus speeds. They are set to maximum speed.
STM32_AHB_FREQUENCY  = 72000000
STM32_APB1_FREQUENCY = 36000000
STM32_APB2_FREQUENCY = 72000000
