# for olimex arm usb interface use:
#   source [find interface/olimex-arm-usb-ocd.cfg]
#   source [find target/stm32f3x.cfg]
# for openocd usb interface use:
#  source [find interface/openocd-usb.cfg]
#  source [find target/stm32f3x.cfg]
# for the onboard stlink-v2 interface use:
source [find interface/stlink-v2.cfg]
source [find target/stm32f3x_stlink.cfg]
# for openocd with busblaster in KT Link configuration (RCA standard)
#  source [find interface/busblaster-ktlink.cfg]
#  source [find target/stm32f3x.cfg]

reset_config srst_only

init
reset init
