
[general]
name = unittest_stm32
unittest = true

[build]
# stm32f4 discovery board
architecture = cortex-m4
device = stm32f407vg
clock = 168000000
template = ../templates/unittest/runner_stm32.cpp.in
buildpath = ../build/unittest_stm32

[program]
tool = openocd

[defines]
XPCC__CLOCK_TESTMODE = 1
CORTEX_VECTORS_RAM = 0

[openocd]
configfile = openocd.cfg
