name: Run tests on MacOS

on: [pull_request]

jobs:
  macos_testing:
    runs-on: macos-12

    steps:
      # update Xcode version to fix linker bug
      # - uses: maxim-lobanov/setup-xcode@v1
      #   with:
      #     xcode-version: '14.2'

      - name: Setup environment - Brew tap
        run: |
          brew tap modm-ext/arm
          brew tap osx-cross/avr

      - name: Setup environment - Brew install
        run: |
          export HOMEBREW_NO_INSTALL_CLEANUP=1 # saves time
          brew update
          brew install doxygen boost gcc avr-gcc@12 arm-gcc-bin@12 cmake || true
          brew link --force avr-gcc@12
          # brew upgrade boost gcc git || true

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Setup environment - Python pip
        run: |
          pip3 install --user modm scons
          echo "/usr/local/bin" >> $GITHUB_PATH
          echo "/Users/runner/Library/Python/3.11/bin" >> $GITHUB_PATH

      - name: Dump environment
        run: |
          echo $PATH
          env
          locale -a
          python --version  || true
          python3 --version || true
          python3 -c "import os; print(os.cpu_count())"
          which g++
          g++ --version
          which avr-g++
          avr-g++ --version
          which arm-none-eabi-g++
          arm-none-eabi-g++ --version
          which lbuild
          lbuild --version
          which scons
          scons --version

      - name: Check out repository
        if: always()
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Update lbuild
        if: always()
        run: |
          pip3 install --upgrade --user --upgrade-strategy=eager modm

      - name: Hosted Unittests
        if: always()
        run: |
          (cd test && make run-hosted-darwin)

      - name: Hosted Examples
        if: always()
        run: |
          (cd examples && ../tools/scripts/examples_compile.py linux)

      - name: Compile STM32 Examples
        if: always()
        run: |
          (cd examples && ../tools/scripts/examples_compile.py nucleo_f031k6 nucleo_f103rb nucleo_f303re nucleo_f411re nucleo_f746zg)
          (cd examples && ../tools/scripts/examples_compile.py nucleo_g071rb nucleo_l031k6 nucleo_l152re nucleo_l476rg nucleo_g474re)

      - name: Compile AVR Examples
        if: always()
        run: |
          (cd examples && ../tools/scripts/examples_compile.py avr)
